ion-content {
    --ion-background-color: #ffffcc;
    --background: hsl(120, 2%, 21%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    --padding-bottom: 16px;
    --padding-end: 16px;
    --padding-start: 16px;
    --padding-top: 16px;

    ion-button {
        margin: 15px;
    }
}

.logo {
    margin-top: 170px; 
  }


